<!DOCTYPE html>
<html>
<head>

<%= jquery_include_tag :google %>
<%= javascript_include_tag 'application'%>
  <title>Streamtestrails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
